@model StudentManager.Models.GradeStudent

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>GradeStudent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grade.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JoinAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JoinAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
